.account__setup{
    display: flex;
    align-items: center;
    max-width: 1100px;
    height: 600px;
    min-height: 200px;
    justify-content: center;
    margin: auto;
    background-color: #eff;
}

.form{
    margin-top: 6rem;
}

.account__button{
    width: 16.75rem;
    height: 4.5rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: 1.6rem;
    font-family: var(--font-noto);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}


.account__button1{
    width: 14.75rem;
    height: 3.75rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: 1.6rem;
    font-family: var(--font-noto);
    border-radius: 1rem;
    border: none;
    margin: .75rem;
    margin-left: 6.5rem;
    cursor: pointer;
}


.form-x{
    margin-left: 55rem;
    height: 100%;
    box-sizing: border-box;
    margin-top: -20rem;
}

